.nav-item{
    font-size: 0.8rem;
    margin: 0 10px;
}
.carousel-item>img{
    height: 65vh !important;
    width: 100% !important;}
@media only screen and (max-width:1030px){
    .carousel-item>img{
        height: 55vh !important;
        width: 100% !important;}
    }
@media only screen and (max-width:992px){
    .carousel-item>img{
        height: 50vh !important;
        width: 100% !important;

    }


}
@media  only screen and (max-width:768px) {
    .nav-item{
        font-size: 0.6rem;

    }
    .navbar{
        justify-content: space-between !important;
        padding: 10px 0px !important;

    }
    
}
@media  only screen and (max-width:690px) {
    .nav-item{
        font-size: 0.4rem;
        padding: 0px  !important;
       
    }
    .carousel-item>img{
        height: 40vh !important;
        width: 100% !important;  
    }
    .carousel{
        height: 40vh !important;
        width: 100%;
    }
    
}
@media  only screen and (max-width:540px) {
    .nav-item{
        font-size: 0.4rem;
    }
    
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.col1{
    margin: 0;
}

.col1>img{
    width: 100%;
}

.products>.col1:nth-child(1){

    grid-column: span 2;
    grid-row: span 2;

}

.products>.col1:nth-child(4){
    grid-column: span 2;
}
.music{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: auto;
    margin-top: 35px;
}
.col2:nth-child(1){
    grid-row: span 2;
    background-color: aquamarine;
}
.col2{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}
.col2>img{
    width: 100%;
    height: 100%;
}
.col2:hover{
    transform: scale(1.02);
}
.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    height: auto;
    margin: 50px auto;
    gap: 10px;

}
.section>.col>.card:hover{
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section2{
    width: 82%;
    height: 42vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    color: white;
    margin: 10px auto;
    text-align: center;

}
.section2>.col:nth-child(1){
    
    background-image: url(https://i02.appmifile.com/769_operator_in/26/04/2021/2fab525c022f0d6c0dba8a6edcf12060.png?width=398&height=320);
}
.section2>.col:nth-child(2){
    background-image: url(https://i01.appmifile.com/webfile/globalimg/in/cms/2461CE83-F535-6B92-CBEE-5971984298E4.jpg?width=398&height=320);
}
.section2>.col:nth-child(3){
    background-image: url(https://i01.appmifile.com/webfile/globalimg/in/cms/FD2BD776-5489-44CA-F05A-C20C232A4848.jpg?width=398&height=320);
}
.features{
    width: 100%;
    height: 15vh;
    background-color: rgb(207, 234, 245);
    margin: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}
.stay{
    height: 16vh;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(207, 207, 207);
    margin: auto;

}
.stay>.col{
    width: 100%;
    height: 100%;
}
.footer{
    width: 100%;
    height: 80vh;
    background-color: rgb(46, 45, 45);
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 25px 10vw ;
    color: rgb(197, 196, 196);
    
    
}
ul>li{
    list-style: none;
    font-size: 0.8rem;
    margin: 20px 0px;
    
    
}
dd>a{
    list-style: none;
    font-size: 0.8rem;
    margin: 20px 0px;
    color: rgb(197, 196, 196)!important;
    
}



